

.rightFont
    font-family: 'Open Sans', sans-serif
    font-weight: 300
.calc
    margin: auto
    padding: 0
    display: flex
    flex-direction: column
    // background-color: #e0e0e0
    width: 1200px
    height: 700px
    text-align: center

.statusLine
    display: flex
    height: 200px
    margin: 2em auto

    .statusLineStep
        display: flex
        width: 70px
        height: 70px
        border-radius: 50%
        border: 1px dashed white
        margin: 0 30px
        position: relative
        align-items: center
        justify-content: center
        background-color: #e8e8e8
        transition: all 0.2s ease-in-out
        text-align: center
        cursor: pointer
        user-select: none
        &:hover
            box-shadow: 0px 0px 2px black
        span
            display: block
            position: absolute
            width: 200%
            left: -50%
            top: 100%
            font-size: 1rem
            color: black
            transition: all 0.25s ease-in-out
            user-select: text
            cursor: default
    .statusLineStepActive
        border: 1px solid green
        color: green
        font-size: 25px
        background-color: rgba(green, 0.2)
        span
            font-size: 1.1rem
    .statusLineStepNext
        cursor: default
        border: 1px solid #e8930b
        color: #e8930b
        font-size: 25px
        background-color: rgba(#e8930b, 0.2)
        &:hover
            box-shadow: none

.mainCalc
    margin: 50px auto
    height: 100%
    padding: 0
    display: flex
    flex-direction: column
    span
        font-size: 1.2rem

    .carType
        display: inline-block
        border: 2px solid #444
        border-radius: 50%
        position: relative
        margin: 20px
        width: 150px
        height: 150px
        // background-color: #c2c3c4
        overflow: hidden
        font-size: 10px
        text-align: center
        user-select: none
        cursor: pointer


        transition: all .25s ease-in-out
        h1
            background-color: rgba(0, 0, 0, 0.3)
            display: block
            position: absolute
            color: white
            left: 0
            right: 0
            padding-top: 10px
            padding-bottom: 10px
            margin-top: 20px
            transition: all .25s ease-in-out
        &:hover
            box-shadow: 0 0 6px 1px
            img
                transform: translateY(-50%) scale(1)
            h1
                color: white

    .carType2
        border-radius: 20px
        width: 150px
        height: 150px


    .centerImg img
        display: block
        width: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%) scale(0.9)
        transition: all .25s ease-in-out

    .firstPick, .secondPick
        margin: auto
        padding: 0
        transition: all 0.3s ease-in-out
        .activePick
            background-color: #a3a3a3
            transform: scale(1.2)
    .secondPick
        display: none
        opacity: 0
    .other
        width: 1000px

    .display
        display: none
        margin: 0px auto
        width: 100%
        height: auto
        transition: all 0.3s ease-in-out
        .colorBox
            height: auto
            width: 100%
            display: flex
            flex-direction: row
            justify-content: center
            .colorDiv
                display: block
                height: 30px
                width: 30px
                border-radius: 7px
                border: 1px solid black
                margin: 20px
                transition: all 0.15s ease-in-out
                &:hover
                    cursor: pointer
                    box-shadow: 0px 0px 4px 1px grey
            .activeDiv
                border: 1px solid green
                box-shadow: 0px 0px 2px 2px green
        select
            appearance: none
            border: 2px solid rgba(#7c7c7c, 0.2)
            border-radius: 2px
            padding: 0.5em 1.5em
            background-color: rgba(#7c7c7c, 0.3)
            width: 200px
            margin: 20px auto
        &Img
            display: block
            margin: 20px auto
            width: 700px
            height: 100%
            object-fit: cover




    .thirdPick, .fourthPick
        transition: all 0.3s ease-in-out
        display: flex
        flex-direction: row

        .thirdDivs, .fourthDivs
            display: flex
            flex-direction: row
            width: 100%
            justify-content: space-evenly
            margin: 50px auto
            flex-flow: row wrap
            .fourthDiv
                height: 120px
                width: 120px
                border-radius: 10px
                border: 1px solid black
                transition: all 0.15s ease-in-out
                &:hover
                    cursor: pointer
                    box-shadow: 0px 0px 4px 1px grey
            .endDiv
                margin: 20px 20px
            .thirdDiv
                height: 200px
                width: 200px
                border-radius: 10px
                border: 1px solid black
                transition: all 0.15s ease-in-out
                &:hover
                    cursor: pointer
                    box-shadow: 0px 0px 4px 1px grey
            .activeDiv
                border: 1px solid green
                box-shadow: 0px 0px 2px 2px green
        select
            appearance: none
            border: 2px solid rgba(#7c7c7c, 0.2)
            border-radius: 2px
            padding: 0.5em 1.5em
            background-color: rgba(#7c7c7c, 0.3)
            width: 200px
        .thirdPickRow
            width: 100%
            display: flex
            flex-flow: column

        margin: 30px auto
        display: none
        opacity: 0
        flex-direction: column
        width: 100%
        align-items: center
        justify-content: center
        .thirdPickChoice
            display: inline-block
            margin: 50px 50px
            position: relative
            background-color: white
            span
                // font-size: 13px
                display: block
                position: absolute
                width: 100%
                top: -31px
        .calcBut
            border-radius: 5px
            background-color: green
            color: white
            display: flex
            margin: 0 auto
            width: 150px
            height: 50px
            border: 1px solid #7c7c7c
            transition: all .2s ease-in-out

            &:hover
                background-color: white
                color: green
                border-color: green
                cursor: pointer

            span
                user-select: none
                margin: auto
